[data-theme='BonsaiWriter'] {
	--text-scaling: 1.125;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: 200;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--heading-font-weight: 600;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.14% 0.06 196.21deg);
	--color-primary-100: oklch(90.15% 0.08 215.8deg);
	--color-primary-200: oklch(84.33% 0.1 227.49deg);
	--color-primary-300: oklch(78.7% 0.13 235.11deg);
	--color-primary-400: oklch(73.44% 0.15 241.3deg);
	--color-primary-500: oklch(68.61% 0.17 246.99deg);
	--color-primary-600: oklch(62.14% 0.17 249.39deg);
	--color-primary-700: oklch(55.73% 0.16 251.57deg);
	--color-primary-800: oklch(48.95% 0.15 254.46deg);
	--color-primary-900: oklch(42.2% 0.15 256.99deg);
	--color-primary-950: oklch(35.03% 0.14 259.75deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(70.73% 0.07 259.4deg);
	--color-secondary-100: oklch(63.39% 0.07 257.29deg);
	--color-secondary-200: oklch(55.88% 0.07 255.42deg);
	--color-secondary-300: oklch(48.13% 0.07 253.49deg);
	--color-secondary-400: oklch(40.14% 0.07 251.91deg);
	--color-secondary-500: oklch(31.92% 0.07 251.16deg);
	--color-secondary-600: oklch(27.89% 0.06 250.19deg);
	--color-secondary-700: oklch(23.49% 0.05 251.58deg);
	--color-secondary-800: oklch(19.05% 0.03 247.82deg);
	--color-secondary-900: oklch(14.11% 0.02 247.3deg);
	--color-secondary-950: oklch(0% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-light);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.34% 0.05 307.3deg);
	--color-tertiary-100: oklch(86.96% 0.07 296.34deg);
	--color-tertiary-200: oklch(81.83% 0.1 290.76deg);
	--color-tertiary-300: oklch(76.5% 0.12 286.71deg);
	--color-tertiary-400: oklch(71.46% 0.15 283.64deg);
	--color-tertiary-500: oklch(66.33% 0.18 280.7deg);
	--color-tertiary-600: oklch(58.49% 0.18 282.18deg);
	--color-tertiary-700: oklch(50.55% 0.18 283.33deg);
	--color-tertiary-800: oklch(42.83% 0.18 283.52deg);
	--color-tertiary-900: oklch(35.06% 0.18 282.84deg);
	--color-tertiary-950: oklch(27.84% 0.17 279.98deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.9% 0.12 108.42deg);
	--color-success-100: oklch(93.62% 0.14 114.92deg);
	--color-success-200: oklch(89.33% 0.16 120.32deg);
	--color-success-300: oklch(84.97% 0.17 124.16deg);
	--color-success-400: oklch(80.84% 0.19 127.88deg);
	--color-success-500: oklch(76.91% 0.2 130.94deg);
	--color-success-600: oklch(69.52% 0.19 133.14deg);
	--color-success-700: oklch(62% 0.18 135.57deg);
	--color-success-800: oklch(54.62% 0.16 138.22deg);
	--color-success-900: oklch(46.86% 0.15 140.72deg);
	--color-success-950: oklch(39.02% 0.13 142.56deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.9% 0.12 108.42deg);
	--color-warning-100: oklch(94.14% 0.13 103.57deg);
	--color-warning-200: oklch(90.44% 0.14 99.32deg);
	--color-warning-300: oklch(86.53% 0.15 95.08deg);
	--color-warning-400: oklch(82.99% 0.16 90.77deg);
	--color-warning-500: oklch(79.54% 0.16 85.76deg);
	--color-warning-600: oklch(70.7% 0.14 84.83deg);
	--color-warning-700: oklch(61.78% 0.12 84.29deg);
	--color-warning-800: oklch(52.19% 0.1 83.2deg);
	--color-warning-900: oklch(42.49% 0.08 81.63deg);
	--color-warning-950: oklch(31.97% 0.06 76.37deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.14% 0.07 332.14deg);
	--color-error-100: oklch(83.11% 0.1 340.09deg);
	--color-error-200: oklch(75.23% 0.14 345.04deg);
	--color-error-300: oklch(68.26% 0.18 349.09deg);
	--color-error-400: oklch(61.95% 0.21 353.27deg);
	--color-error-500: oklch(57.13% 0.22 358.5deg);
	--color-error-600: oklch(51.75% 0.2 358.81deg);
	--color-error-700: oklch(46.07% 0.18 358.43deg);
	--color-error-800: oklch(40.42% 0.16 358.92deg);
	--color-error-900: oklch(34.34% 0.13 358.38deg);
	--color-error-950: oklch(28.04% 0.11 358.71deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(97.61% 0 none);
	--color-surface-100: oklch(88.17% 0.01 264.56deg);
	--color-surface-200: oklch(78.47% 0.02 264.48deg);
	--color-surface-300: oklch(68.53% 0.03 265.52deg);
	--color-surface-400: oklch(58.21% 0.04 265.04deg);
	--color-surface-500: oklch(47.47% 0.05 264.53deg);
	--color-surface-600: oklch(42.05% 0.05 264.5deg);
	--color-surface-700: oklch(36.45% 0.05 264.44deg);
	--color-surface-800: oklch(30.96% 0.04 263.65deg);
	--color-surface-900: oklch(24.88% 0.04 263.42deg);
	--color-surface-950: oklch(18.45% 0.04 262.95deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
